@media (min-width:800px){
    header{
        height: 80px;
        max-width: 1440px;
        width: 100%;
    }
    body{
        width: 1140px;
        margin-left: 140px;
        margin-right: 140px;
        
    }
    main{
        max-width: 1440px;
        width: 100%;
        height: 1024px;
        display: flex;
        flex-direction: row;
        padding: 50px;
        
    }
    .selecionarSetor{
        max-width: 550px;
        width: 100%;
    }
    .cardSelecionaSetor{
        max-width: 550px;
        width: 100%;
        Height:743px;
    }
    .cardEmprego{
        width: 489px;
        height: auto;
        
    }
    .logoKenzieEmpresas{
        width: 172px;
        height: 21px;
    }
    .imglogoElipse{
        width: 16px;
        height: 16px;
    }
    .liListaEmpresas{
        
        height: auto ;
        width:400px;
    }
    #setorSelect{
        width: 550px;
    }
    .btnLogin{
        display:flex;

    }
    .btnCadastro{
        display:flex;

    }
    .btnVector{
        display: none;
    }
    #menu a {
        display: none;

    }
    .sectionImagemHome{
        display: flex;
        max-width: 1440px;
        width: 100%;
    }
   
    .ulCardEmprego{
        width: 450px;
        

    }
    .divDentroLi{
        width: 389px;

    }
    .sectionCardSelecionaSetor{
        max-width: 489px;
        width: 100%;
        height: 743px;
    }
  
}






body,
ul {
  margin: 0px;
  padding: 0px;
}

a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}

a:hover {
  background: rgba(0, 0, 0, 0.05);
}



#header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  
  background: white;
}
main{
    max-width: 1440px;
    width: 100%;
}

#menu {
  display: flex;
  list-style: none;
  gap: 0.5rem;
}

#menu a {
  display: block;
  padding: 0.5rem;
  justify-content: space-between;
}

#btn-mobile {
  display: none;
}







@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background: white;
    
    z-index: 1000;
  
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    display: flex;
    flex-direction: row;
    visibility: visible;
    overflow-y: auto;
  }
  
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .sectionImagemHome{
    display: none;
  }

}
