@media (max-width: 475px){
  .btnHomeLogin{
    display: none;
  }
  .btnHomeLoginCadastro{
    display: none;


  }

}

@media(min-width:475px){
  .btnLoginPagLogin{
    height: 48px;
    width: 422px;


  }
}